CONFIG_IDF_TARGET="esp32p4"

# Dual-core FreeRTOS (both P4 cores active)
CONFIG_FREERTOS_UNICORE=n

# PSRAM: IQ buffers, decoder buffers, httpd data
CONFIG_SPIRAM=y

# USB Host (DWC2 / ESP-DWC) DMA buffers can live in PSRAM
CONFIG_USB_HOST_DWC_DMA_CAP_MEMORY_IN_PSRAM=y

# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Console
CONFIG_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_IDF_ENABLE_FP_PRINTF=y

# ---- Onboard Ethernet: P4 internal EMAC + IP101GRI RMII PHY (ESP32-P4-ETH) ----
CONFIG_ETH_ENABLED=y
CONFIG_ETH_USE_ESP32_EMAC=y
CONFIG_ETH_EMAC_PHY_REF_CLK_SRC_AUTO=y

CONFIG_LWIP_TCP_SND_BUF_DEFAULT=65534
CONFIG_LWIP_TCP_WND_DEFAULT=65534
CONFIG_LWIP_TCP_RECVMBOX_SIZE=64
CONFIG_LWIP_UDP_RECVMBOX_SIZE=64
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=64

CONFIG_LWIP_TCPIP_TASK_AFFINITY_CPU0=y

CONFIG_LWIP_TCP_SACK_OUT=y